#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h2{
  font-style: initial;
}
body{
  background-image: url('https://static.vecteezy.com/system/resources/previews/004/941/847/non_2x/cosmetic-background-for-product-branding-and-packaging-presentation-geometry-form-circle-molding-on-podium-stage-with-shadow-of-leaf-background-design-eps10-vector.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
input{
  
  border: 2px solid;
  border-radius: 10px;
}
#buscar{
  width: 100%;  
  height: 25px; 
  max-width: 400px;   
}
.formulario{
  font-family: sans-serif;
  color: rgb(49, 49, 49);
  background-color: #e6e6e6;
  padding: 2rem;
  border-width: 1px;
  border-radius: 10px;
}
.registro{
  margin-bottom: 10px;
}

.formulario label, .precio-descuento{
  font-weight: bold;
  font-size: large;
}

.registro button {

  font-family: 'Times New Roman', serif;
  color: white;
  font-weight: bold;
  background-color: rgb(15, 167, 65);
  border-radius: 10px;
  padding: 10px 30px;
  cursor: pointer;
  outline: none;
}

.registro button:hover {
  background-color: rgb(10, 130, 50);
}

.boton-editar{
  background-color: rgb(57, 68, 221);
  margin-right: 10px;
  margin-left: 5px;

}
.boton-eliminar{
   background-color: rgb(240, 41, 27);
   margin-right: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: #7094e2;
}
th, td {
  padding: 10px;
  border: 1px solid #000000;
  text-align: center;
}